[Unit]
Description=Advanced key-value store
After=network.target

[Service]
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf --daemonize no
ExecStop=/usr/bin/redis-cli shutdown
Restart=always
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
